@model OfficeDetailsViewModel

@if (Model.IsHeadquarters)
{
    <h1 class="text-center">Welcome to our HQ!</h1>
}
else
{
    <h1 class="text-center">Welcome to our @Model.City office!</h1>
}
<hr />
<h5>Address: @Model.Address</h5>
<div class="row justify-content-lg-center">
    @if (!Model.IsHeadquarters)
    {
        <div class="col-xl-auto">
            <form class="form-inline" asp-controller="Offices" asp-action="Delete" asp-route-id="@Model.Id" method="post">
                <div>
                    <button type="submit" class="btn btn-danger">Delete Office</button>
                </div>
            </form>
        </div>
    }
    <div>
        <a class="btn btn-dark" asp-controller="Offices" asp-action="Edit" asp-route-id="@Model.Id">Edit Office</a>
    </div>
</div>
<hr />
@if (Model.Employees.Count() == 0)
{
    <div class="text-center">
        <h2>Office has no employees yet.</h2>
        <p>Click <a asp-controller="Employees" asp-action="Create" asp-route-officeId="@Model.Id">here</a> add a new employee.</p>
    </div>
}
else
{
    <div class="col-12 text-center">
        <a class="btn btn-dark" asp-controller="Employees" asp-action="Create" asp-route-officeId="@Model.Id">Add New Employee</a>
    </div>
    <hr />
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Full Name</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var employee in Model.Employees)
            {
                <tr>
                    <td>@employee.FullName</td>
                    <td><a class="btn btn-outline-dark" asp-controller="Employees" asp-action="Details" asp-route-id="@employee.Id">Details</a></td>
                </tr>
            }
        </tbody>
    </table>
}